In [43]:
import pandas as pd
from sklearn.utils import shuffle
from sklearn.impute import KNNImputer
import numpy as np
import os

df = pd.read_csv(os.path.join(os.path.abspath(''),'crx_data.csv'), names=['a1','a2','a3','a4','a5','a6','a7','a8',
                                                                          'a9','a10','a11','a12','a13','a14','a15','a16'])

pd.set_option("display.min_rows", df.shape[0]+1)
pd.set_option('display.max_rows', df.shape[0]+1)

df["a2"] = pd.to_numeric(df["a2"], errors='coerce')

knn_imp = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
df['a2'] = knn_imp.fit_transform(df[['a2']])

df_shuffled = pd.DataFrame(shuffle(df))
df_shuffled['a2_bins'] = pd.cut(x=df_shuffled['a2'], bins=[0,10,20,30,40,50,60,70,80])


df_shuffled.head(3)

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a2_bins
217,b,55.92,11.500,u,g,ff,ff,5.00,t,t,5,f,g,00000,8851,+,"(50, 60]"
253,b,23.17,11.125,u,g,x,h,0.46,t,t,1,f,g,00100,0,+,"(20, 30]"
343,b,33.75,2.750,u,g,i,bb,0.00,f,f,0,f,g,00180,0,-,"(30, 40]"